# Git
.git
.gitignore

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.env.*
.venv/

# Test & coverage
tests/
.pytest_cache/
.tox/
.coverage
coverage.xml
htmlcov/

# Build artifacts
build/
dist/
*.egg-info/

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Logs
*.log